body{
    background-color: rgba(240, 225, 155, 0.868);
    text-align: center;
}
h1{
    font-size: 5rem;
    color: #9a0548;
    font-family: cursive;
    text-shadow: 3px 0 #d8d3a0;
}

.letter {
    outline: none;
    border: 10px solid  #9a0548;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    font-weight: 800;
    color: #9a0548;
   
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: rgb(254, 253, 251);
  }

  .pressed {
    box-shadow: 0 3px 4px 0 #f8f9f9;
    opacity: 0.5;
  }

  